# Editors
*.kate-swp
*~
\#*#
.#*
.*.swp
.project
cscope.files
cscope.out
*.orig
## NetBeans
nbproject*
project.index
## Sublime
sublime-*
sftp-config.json
## Visual Studio Code
*.vscode/

# Install and build artifacts
node_modules/
/composer.lock
/vendor

# Operating systems
## Mac OS X
.DS_Store
## Windows
Thumbs.db
